<%- partial('_partial/header', {
    title: page.title,
    hdClass: 'page-header'
}) %>

<%
page.reward = "";
page.comments = "";
%>
<div class="container body-wrap">
    <div id="microw" class="is-container">
        <script src="https://embed.cacher.io/d7023d820831ae13acaf17925c2d1ba32f0cfa41.js?a=95f780388397b238bf35f7ce6050de68&t=solarized_light&r=0"></script>
        <!-- <script src="https://gist.github.com/ym-first/8fd3880afecb8583aaf8d7a013666524.js"></script> -->
    <!-- <%- partial('_partial/micropost', {post: page }) %> -->
    </div>
    </div>
    
