@media (max-width: 1023px)
  html
    background: #fff
  .head
    margin-top: 80px;
  body
    padding-top: 0

@media (max-width: 767px)
  body
    margin: 10px
    margin-bottom: 20px
    margin-top: 0px
    padding: 0
    font-size: font-size-rem($base-font-size-r)

  .head
  .main
  .foot
    width: 100%

  .head
  .foot
    padding: 20px
    height: auto
    line-height: inherit

  .head-title
  .head-nav
  .foot-copy
  .page-menu
    float: none

  .main
    margin-top: 20px
    margin-bottom: 20px

  .head
    margin-top: 20px
    text-align: center

  .head-nav
    margin-top: 10px

  .head-nav__item
    margin: 0 5px
    margin-left: 0

  .post
    margin-top: 20px

  .post__head.archive
  .post__head
    margin: 20px 5px

  .post__main
    margin: 20px 5px

  .post__title
  .post__time
    margin: 5px

  .post__title
    font-size-rem(22.4)

  .post__main
    blockquote
    .highlight
      margin: 30px -20px;
      padding: 20px;

  .post__foot
    position: relative
    padding: 10px


  .post__tag
    // display: none
  .post__more
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  .post__image
    margin: 20px -20px
    img
      margin 0 auto
  .foot
    margin-bottom: 0
    text-align: center
  .page-menu
    margin-top: 10px
  .foot bdi
    display: none
  .archive-title
    margin: 20px

  .highlight .code
    padding: 0

.sidebar-toggle {
    	position: relative;
    	float: left;
    	padding: 9px 5px;
    	margin-top: 10px;
    	margin-right: 15px;
    	margin-bottom: 0px;
    	background-color: #399c9c;
    	background-image: none;
    	border: 1px solid transparent;
    	border-radius: 4px;
    }
    .sidebar-toggle:focus {
    	outline:0;
    }
    .sidebar-toggle .icon-bar {
    	display: block;
    	width: 22px;
    	height: 2px;
    	border-radius: 1px;
      background-color: white;
    }
    .sidebar-toggle .icon-bar+.icon-bar {
    	margin-top:4px;
    }
.collapse-in{
  display: none;
}
.dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

.dropdown {
    position:fixed;
    top:30px;
    right:5px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-image: url("https://tva1.sinaimg.cn/large/00831rSTgy1gdfrb1gzy2j30860asgnw.jpg");
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}